*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
}

#meme1:checked ~ .slides .slide-1 { display: block; }
#meme2:checked ~ .slides .slide-2 { display: block; }
#meme3:checked ~ .slides .slide-3 { display: block; }
#meme4:checked ~ .slides .slide-4 { display: block; }
#meme5:checked ~ .slides .slide-5 { display: block; }
#meme6:checked ~ .slides .slide-6 { display: block; }
#meme7:checked ~ .slides .slide-7 { display: block; }
#meme8:checked ~ .slides .slide-8 { display: block; }

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

#meme1:checked ~ .btns label[for="meme1"] { background: blue; }